<%- include("header.ejs") %> 

<% if(locals.header){ %>
<h1 class="header"><%=header%></h1>
<div class="container">
  <% if(header == "Add Log"){ %>
        <div class="log-info">
            <form action="/addSubmit" method="post" class="log-form">
                <label for="Log Type">Log Type</label><br />
                <select name="logTypes">
                    <option value="1">BGL</option>
                    <option value="2">Insulin</option>
                    <option value="3">Carbs</option>
                    <option value="4">Protein</option>
                    <option value="5">Fat</option>
                    <option value="6">Fibre</option>
                    <option value="7">Ketones</option>
                </select> <br>
                <label for="Value">Value</label><br>
                <input type="text" name="value"><br>
                <label for="Notes">Notes</label><br>
                <textarea name="notes" id="" cols="30" rows="10" placeholder="Add notes here..."></textarea>
                <input type="submit" class="btn" value="Submit">  
            </form>
            <% if(locals.error){ %>
                <p><%=error%></p>
            <%}%>
        </div>


    <%} else if(header == "Update Log"){%> 
        <div class="log-info">
            <form action="/updateSubmit" method="post" class="log-form">
                <label for="Value">Log ID</label><br>
                <input type="text" name="logID"><br>

                <label for="Value">Value</label><br>
                <input type="text" name="value"><br>

                
                <input type="submit" class="btn">
            </form>
            <% if(locals.error){ %>
                <p><%=error%></p>
            <%}%>

        </div>
    
    <%} else if(header == "Delete Log"){%>
        <div class="log-info">
            <form action="/deleteSubmit" method="post" class="log-form">
                <label for="Value">Log ID</label><br>
                <input type="text" name="logID"><br>
                <input type="submit" class="btn">
            </form>
            <% if(locals.error){ %>
                <p><%=error%></p>
            <%}%>
        </div>
    <%}%> 
    <form action="/logout" class="logout" method="get">
        <input type="Submit" value="Logout" class="btn" style="background-color: orange;">
    </form>
</div>
<% } %> 



<%- include("footer.ejs") %>
